body { 
  overflow: hidden; 
  margin:0; 
  background: #ededeb;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  height: 100%;
  width: 100%;
}
button{
  height: 70px;
  width: 70px;
  z-index: 50;
  position: absolute;
  opacity: 50%;
}
button>img{
  height: 100%;
  width: 100%;
}
#leftButton {
  left: 0;
  top: 50%;
}
#rightButton {
  right: 0;
  top: 50%;
}
#stopButton, #resumeButton{
  top: 90%;
  left: 47%;
}

.embedded {
  max-height: 1080px;
  max-width: 1080px;
}

.flex-container {
  display: flex;
  /* z-index: 5; */
  flex: 1;
}

.controlBar{
  display: flex;
  height: 79px;
  border-bottom: #ededeb 1px solid;
  background-color: white;
  width: 100%;
}
.controlBar>a{
  padding: 22px;
  
}
.controlBar>a>img{
  height: 21px;
}
.controlBar>a{
  font-size: 21px;
}

a:link, a:visited{
  color: blue;
  text-decoration: none;
  
}
a:hover{
  background-color: #ededeb;
}

.main-content {
	flex: 3;
  order: 2;
  display: flex;
  justify-content: center;
}

.sidebar1 {
	flex: 1;
  order: 1;	
}

.sidebar2 {
  flex: 1;
	order: 3;
}

.flex-container > div {
  z-index: 5;
}

/* Anwesenheiten css*/


.parent {
  height: 1080px;
}
.wrapper {
  display: table;
  width: 100%;
  height: 30px;
}
.wrapper:nth-child(even){
  background-color: #ededeb;
}
.wrapper:nth-child(odd){
  background-color: #ffffff;
}
#maintable{
  font-style: bold;
}
.container{
  display: table-cell;
  /* background-color: white; */
  width: 25%;
  border: solid black 1px;
}
.header{
  font: bold;
}
.container.ex-over {
  background-color: rgba(255, 255, 255, 0.3);
}
.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.container > div,
.gu-mirror {
  margin: 11px;
  padding: 11px;
  transition: opacity 0.4s ease-in-out;
}
.container > div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  text-align: center;
}
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}